*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 0 0 auto;
    background-color: beige;
}
.header__wrapper { 
    display: flex;
}
.header__logo img {
    width: 500px;
    height: 200px;
}
.nav {
    display: flex;
    align-items: center;        
}
.nav__items {
    display: flex; 
    text-decoration: none;
}
.nav__item {
    list-style: none;
    margin-right: 20px;    
}
.nav__item:last-child {
    margin-left: 80px;    
}
.nav__item a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(33, 31, 31);    
}

.nav__item a:hover {    
    font-size: 25px;
    color: rgb(146, 97, 32); 
    cursor: pointer;   
}

.main {    
    flex: 1 0 auto;
}
.main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    padding-bottom: 70px;
}
.main__wrapper h1 {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
.home__content {
    display: flex;
    flex-direction: column;
}
.home__one {
    display: flex;
    margin-bottom: 20px;
}
.home__one p {
    text-align: right;
}

.home__two {
    display: flex;
    margin-bottom: 20px;
}
.home__two p {
    text-align: left;
    margin-left: 20px;
}
.home__three {
    display: flex;
}
.home__three p {
    text-align: right;
    margin-left: 20px;
}
.home__content img {
    width: 600px;
    height: 600px;
}
.about__content {
    display: flex;
}
.about__content img {
    width: 600px;
    height: 500px;
    margin-right: 30px;
}
.about__content p {
    text-align: right;
}
.catalog__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.catalog__item {
    width: calc(33.33% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 1px solid grey;
    border-radius: 30px; 
    padding: 15px;  
}

.catalog__item__image {
    max-width: 300px;
}

.catalog__item__image img {
    height: 250px;
    max-width: 250px;
    cursor: pointer;
}

.catalog__item__title {
    font-size: 18px;
    line-height: 0;    
    color: #0b0b0b;
    margin-bottom: 40px;
    text-decoration: none;
    max-width: 250px;
}

.catalog__item__price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;        
    color: #181616;    
}

.catalog__item__add__cart {
    height: 70px;
    width: 250px;
    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;    
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;    
    color: #274C5B;   
}

.catalog__item__add__cart:hover {
    cursor: pointer;
   background-color: burlywood;
   border-color: burlywood;
}

.product__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}
.product__wrapper h1 {
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    margin-bottom: 30px;
}

.product__wrapper h2 {
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 30px;
    color:#181616;
}

.product__wrapper p {
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 30px;
    color:#181616;
}

.product__wrapper span {
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    margin-bottom: 30px;
    color:#274C5B;
}
.btns {
    display: flex;
}
.go__back__btn, .product__add__cart  {
    height: 70px;
    width: 250px;
    background: #cdcac3;
    border: 1px solid #bbb9b2;
    border-radius: 16px;    
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;    
    color: #050505;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
} 
.go__back__btn:hover {
    cursor: pointer;
    background: #050505;
    color: #cdcac3;
    border: none;
}
.product__add__cart:hover {
    cursor: pointer;
    background: #050505;
    color: #cdcac3;
    border: none;
}
.cart__empty {
    margin-bottom: 50px;
    font-size: 50px;
}
.cart_items {
    text-align: center;
    list-style: none;
}

.cart__item img {
    width: 200px;
    height: 200px;
}
.cart__delete__button {
    height: 50px;
    width: 200px;
    background: #cdcac3;
    border: 1px solid #bbb9b2;
    border-radius: 16px;    
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;    
    color: #050505;    
    margin-bottom: 40px;
}
.cart__delete__button:hover {
    cursor: pointer;
    background: #050505;
    color: #cdcac3;
    border: none;
}

.footer {
    flex: 0 0 auto;
    height: 100%;
    background-color: azure;
 }
 .footer__wrapper {
     text-align: center;    
     padding-bottom: 50px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     line-height: 20px;
     font-weight: bold;
     color: rgb(33, 31, 31);
 }
 .footer__wrapper img {
     height: 100px;
     width: 200px;
 }